body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px;
    margin: 0px;
}

#crawler-status.active {
    color: green;
}

#crawler-status.idle {
    color: orange;
}

#crawler-status.offline {
    color: red;
}

td {
    padding: 5px;
}

h2 {
    margin: 0px 0px 20px 0px;
}

.nicebox {
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    background: #f7f7f7;
    padding: 20px;
}

table {
    margin-bottom: 5px;
    width: 100%;
}

    table#table-tasks {
        table-layout: fixed;
    }

        table#table-tasks td {
            overflow: hidden;
            text-overflow: ellipsis;
        }

    table#table-downloads {
        table-layout: fixed;
    }

        table#table-downloads td {
            overflow: hidden;
            text-overflow: ellipsis;
        }

            table#table-downloads td.clickable:hover {
                text-decoration: underline;
                cursor: pointer;
            }

div.flexbox {
    display: flex;
    width: 100%;
}

#div-status, #div-tasks {
    min-width: 230px;
    display: flex;
    flex-direction: column;
}

#div-tasks {
    flex: 1;
    margin-left: 15px;
}

#div-footer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: white;
    padding: 13px;
    border-radius: 5px;
    box-shadow: -2px 1px 6px #bbbbbb;
}

#div-downloads {
    width: 100%;
}

div#downloadsbox {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
    div.flexbox {
        flex-direction: column;
    }

    #div-tasks {
        margin-left: 0;
    }
}
