body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px;
    margin: 0px;
}

#crawler-status.active, .green {
    color: green;
}

#crawler-status.idle {
    color: orange;
}

#crawler-status.offline, .red {
    color: red;
}

td {
    padding: 5px;
}

h2 {
    margin: 0px 0px 20px 0px;
}

.nicebox {
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    background: #f7f7f7;
    padding: 20px;
}

table {
    margin-bottom: 5px;
    width: 100%;
}

div#list-clients {
    max-height: 400px;
    overflow-y: scroll;
    padding-right: 8px;
}

    div#list-clients .client-item {
        position: relative;
        padding: 10px;
        margin: 10px 0;
        background: white;
        border-radius: 5px;
        box-shadow: 0 0 8px #d0d0d0;
    }

        div#list-clients .client-item .client-last {
            margin-top: 10px;
            color: #a7a7a7;
        }

        div#list-clients .client-item .client-host {
            position: absolute;
            top: 10px;
            right: 10px;
            color: black;
        }

            div#list-clients .client-item .client-host span {
                color: #636363;
            }

@media only screen and (max-width: 525px) {
    div#list-clients .client-item .client-host {
        display: none;
    }
}


div.flexbox {
    display: flex;
    width: 100%;
}

#div-status, #div-tasks {
    display: flex;
    min-width: 230px;
    min-height: 300px;
    flex-direction: column;
}

#div-tasks {
    flex: 1;
    margin-left: 15px;
}

#div-footer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: white;
    padding: 13px;
    border-radius: 5px;
    box-shadow: -2px 1px 6px #bbbbbb;
}


@media only screen and (max-width: 800px) {
    .flexbox {
        flex-direction: column;
    }

    #div-tasks {
        margin-left: 0;
    }

    td.midcol {
        display: none;
    }
}

table#table-config td {
    padding: 3px 15px;
    color: #adadad;
    /* width: 100%; */
    /* min-width: 100px; */
}

    table#table-config td b {
        display: block;
        color: black;
        margin-bottom: 5px;
    }

table#table-config textarea {
    resize: none;
    width: 100%;
}

table#table-config input, table#table-config textarea {
    width: 100%;
    padding: 10px;
    outline: none;
    max-width: 600px;
    border-radius: 4px;
    white-space: nowrap;
    background: #f5f5f5;
    border: 1px solid gray;
    font-family: Courier New, Courier, monospace;
}

    table#table-config input[type="checkbox"] {
        width: initial !important;
    }

button {
    padding: 10px 20px;
    border-radius: 5px;
    background: #dddddd;
    border: 1px solid gray;
}

    button:hover {
        cursor: pointer;
        background: #c1c1c1;
    }

    button.disabled {
        color: gray;
        background: #d2d2d2;
        pointer-events: none;
        border: 1px solid #b1b1b1;
    }

input.disabled, textarea.disabled {
    color: gray;
    pointer-events: none;
}


span#config-warning {
    display: none;
}

    span#config-warning.active {
        margin: 10px;
        color: black;
        padding: 20px;
        font-weight: bold;
        margin-top: -10px;
        border-radius: 5px;
        background: #ffd714;
        display: inline-block;
        border: 2px solid #afa100;
    }
